html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: Sans-Serif;
}
#login fieldset {
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  margin-top: -27px;
  margin-left: -140px;
  padding-top: 22px;
  top: 50%;
  left: 50%;
  height: 68px;
  width: 260px;
  text-align: center;
}
#login.false fieldset
{
  margin-top: -35px;
  padding-top: 13px;
  height: 85px;
}
#login fieldset legend {
  margin: 0 25%;
}
#login input {
  font-family: monospace;
  font-size: 15pt;
}
form {
  text-align: center;
}
.btable {
  margin: 10px auto;
  background-color: #EEF;
  border-collapse: collapse;
  width: 900px;
}
.btable td, .btable th {
  padding: 3px;
  border: 1px #000 solid;
}
table.btable .question {
  text-align: right;
  border-right: 0;
}
table.btable .mister {
  border-left: 0;
  border-right: 0;
}
table.btable .missis {
  border-left: 0;
}
table ul {
  padding: 0;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.message {
  border: 1px #ABA solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -71px;
  margin-left: -204px;
  width: 252px;
  height: 56px;
  padding: 42px 14px;
  padding-left: 140px;
  background: url(btn_ok.png) 14px 14px no-repeat #EFE;
  font-weight: bold;
  text-align: center;
}

/* ACP */
h1 {
  font-size: 150%;
  margin-top: 5px;
  text-align: center;
}
#navigation h2 {
  font-size: 100%;
  display: inline;
}
#navigation h2:after {
  content: ":";
}

#navigation ul {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navigation ul li {
  display: inline;
}
div.btable {
  padding: 3px;
  border: 1px #000 solid;
}
